# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Build
build/
dist/

# Generated Outputs (Optional)
*.html
*.csv

# Cache
.cache/
